.body {
  background-color: #ffffff;
}


.nav-item-1 {
  text-transform: lowercase;
}

.carousel {
  .carousel-item {
    height: 100px;
    margin: 0 auto;
  }

  .carousel-inner {
    width: 100%;
    max-height: 200px !important;

  }


  .carousel-image-1 {
    background: url(../img/banner.PNG);
    background-size: cover;
    width: 100%;
    min-width: 100%;

  }


  .carousel-image-2 {
    background: url(../img/banner2.PNG);
    background-size: cover;
    width: 100%;

  }


  .carousel-image-3 {
    background: url(../img/banner3.PNG);
    background-size: cover;
    width: 100%;
  }
}

body {
  background-color: #f6f8fd;
  overflow-x: hidden;
  /*  
    aside{
      .container-fluid{
        .carousel{
          .carousel-indicators{
  
              margin-bottom: -15px;
              margin-right: -1050px!important;
              padding: 0px!important;
              li{
                position: relative;
                -webkit-box-flex: 0;
                -ms-flex: 0 1 auto;
                flex: 0 1 auto;
                width: 20px;
                height: 20px!important;
                margin-right: 3px;
                margin-left: 3px;
                text-indent: -999px;
                background-color: rgba(219, 219, 219, 0.5);
              }
  
          }
        }
      }
    }
    */
}

/**********************LATEST NEWS**********************/
ul.timeline {
  list-style-type: none;
  position: relative;

}

ul.timeline:before {
  content: ' ';
  background: #d4d9df;
  display: inline-block;
  position: absolute;
  left: 29px;
  width: 2px;
  height: 100%;
  z-index: 400;
}

ul.timeline>li {
  margin: 20px 0;
  padding-left: 20px;
}

ul.timeline>li:before {
  content: ' ';
  background: white;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid #73f05479;
  left: 20px;
  width: 20px;
  height: 20px;
  z-index: 400;
}

/*-------------------------------------header begin--------------------------------------*/
header {
  background-color: white;

  .container-fluid {
    .row {
      .col-md-10 {
        .row:nth-child(2) {
          .col-md-2 {
            display: block;
            padding-right: 70px !important;
          }
        }
      }
    }
  }
}

.logo {
  vertical-align: middle;
  padding-top: 15px;
  margin-left: 15px;
  width: 100%;
  height: 100%;
  max-height: 100%;
  max-height: 100%;
}

.menu1 {
  display: block;

  li {
    display: inline;

    a {
      text-decoration: none;
      color: #000000;
      font-size: 20px;
      padding: 10px;
      font-weight: 450;

      &:hover {
        color: rgb(146, 226, 71);
      }
    }

  }

}

.menu2 {
  li {
    display: inline;
    background-color: #e5e5e5;
    border: none;
    padding: 3px 15px;
    margin: 0 -3px;

    a {
      text-decoration: none;
      color: #000;

      &:hover {
        color: rgb(146, 219, 97);
      }
    }
  }
}

.btn.btn-1 {
  height: 60%;
  float: right;
  padding: 0 10px;
}


#page-header {
  height: 100px;
  background: url('../img/header.jpg');
  color: #fff;
  border-bottom: 1px #eee solid;
  padding-top: 50px;
}

/*-------------------------------------header end--------------------------------------*/


/*-------------------------------------main begin--------------------------------------*/
main {
  .container .row .lead {
    background-color: #66da2346;
    font-size: 30px;
  }

  section:nth-child(1) {
    .container-fluid {
      .row {
        margin-right: 0px !important;
        margin-left: 0px !important;
        background-color: white;

        .col-md-8 {
          span:nth-child(1) {
            border-right: 1px solid #c1c1c1;
            padding-right: 15px;

          }


          span:nth-child(2) {
            border-right: 1px solid #c1c1c1;
            padding-right: 15px;
          }

          span:nth-child(3) {
            padding-left: 15px;

          }
        }
      }
    }
  }

  section:nth-child(2) {
    background-color: white;
    padding-top: 10px;
    margin-top: 15px;

    .container {
      width: 100%;
      padding-right: 0px !important;
      padding-left: 0px !important;
      margin-right: 0px !important;
      margin-left: 30px !important;

      .row {
        .hotnew {
          margin-left: -15px;
          background-color: #61d41d;
          color: white;
          padding: 5px;
        }

        a {

          color: #000;
        }

        .col-md-6:nth-child(1) {
          a {
            font-size: 25px;
          }
        }

        .col-md-6:nth-child(2) {}
      }
    }
  }

  section:nth-child(3) {
    .container-fluid {
      .row {
        .col-md-9 {
          .row {
            .col-md-8 {
              .card {
                margin: 15px 0;

                .card-img-overlay {
                  h4 {
                    padding-top: 100px;
                    color: white;

                    a {
                      color: white;
                    }
                  }
                }
              }
            }

            .col-md-4 {
              margin: 15px 0;

              .card-img-overlay {
                h4 {
                  padding-top: 100px;
                  color: white;

                  a {
                    color: white;
                  }
                }
              }
            }
          }
        }

        .col-md-3 {
          margin: 15px 0;

          .card-img-overlay {
            h4 {
              padding-top: 380px;
              color: white;

              a {
                color: white;
              }
            }
          }

          .card {
            background-image: url("../images/color-card-img-4.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            height: 100% !important;
          }

        }
      }

    }
  }
}

/*-------------------------------------main end--------------------------------------*/


#news-header {
  .btn-n {
    line-height: 28px;
    width: 180px;
    height: 40px;
  }
}




/***********************************  NEWS PAGE ******************************/
.card {
  .card-news {
    padding: 2rem;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    padding-right: 30px;
    padding: 0 100px;

  }

  #page-header-1 {
    height: 100px;
    background: url('../img/banner.PNG');
    color: #fff;
    border-bottom: 1px #eee solid;
    padding-top: 10px;
  }
}

/************************** FOOOTER**********************************/

#myFooter {
    background-color: #182c39;
    color: white;
    padding-top: 20px;
}

#map-container {
    height: 240px;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 10px;
}

#myFooter .row {
    margin: 0 85px;
}

#myFooter .footer-copyright {
    background-color: #10222e;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
}

#myFooter .footer-copyright p {
    margin: 10px;
    color: #ccc;
}

#myFooter .container {
    width: auto;
}

#myFooter ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
}

#myFooter h5 {
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}

#myFooter a {
    color: #d2d1d1;
    text-decoration: none;
}

#myFooter a:hover,
#myFooter a:focus {
    text-decoration: none;
    color: white;
}

#myFooter .social-networks {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 38px;
}

#myFooter .fa {
    font-size: 30px;
    margin-right: 15px;
    margin-left: 20px;
    background-color: white;
    color: #182c39;
    border-radius: 51%;
    padding: 10px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 31px;
    text-decoration: none;
    transition: color 0.2s;
}

#myFooter .fa-facebook:hover {
    color: #2b55ff;
}

#myFooter .fa-facebook:focus {
    color: #2b55ff;
}

#myFooter .fa-google-plus:hover {
    color: red;
}

#myFooter .fa-google-plus:focus {
    color: red;
}

#myFooter .fa-twitter:hover {
    color: #00aced;
}

#myFooter .fa-twitter:focus {
    color: #00aced;
}

@media screen and (max-width: 767px) {
    #myFooter {
        text-align: center;
    }
    #myFooter .row {
        margin: 0;
    }
}

